.contact{
    display: flex;
    height: 100vh;
    background-color: rgb(224, 0, 105);
    margin: 0;
    padding: 0;
    justify-content: center;
   
}
.iamge{
    display: flex;
    justify-content: center;

}
.profile{
    margin-top: 30px;
    width: 100px;
    height: 100px;
    border-radius: 50%;
}
.contactMethods{
  display: flex;
  /* flex-direction: column; */
  font: 1em sans-serif;
  justify-content: space-between;
  /* justify-content: center; */
  align-items: center;
  /* background-color: brown; */
}


.call , .email ,.location{
    width: 330px;
    height: 200px;
    text-align: center;
    padding: 20px;
    margin: 60px 20px 0px;
    /* background-color: blue; */

}

h2{
    font-size: 19px;
}

.contactIcons{
    margin-bottom:20px;
    font-size: 19px;
    background-color: red;
    padding: 15px;
    border-radius: 50%;
}

h3{
    font-size: 24px;
}

.social-icons{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;

}

.icon{
    margin: 0px 20px 0px;
    font-size: 26px;
    background-color: rgb(160, 155, 155);
    padding: 15px;
    border-radius: 20px;
}
h6{
    text-align: right;
    margin-top: 20px;
    color: rgb(78, 69, 69);
}



@media (max-width:900px) {
    .contact{
        height: 200vh;
    }
    .contactMethods{
        display: flex;
        flex-direction: column;
        font: 1em sans-serif;
        justify-content: space-between;
        /* justify-content: center; */
        align-items: center;
        
      }
      
.icon{
    margin: 0px 12px 0px;
    font-size: 16px;
    background-color: rgb(160, 155, 155);
    padding: 15px;
    border-radius: 20px;
    }

}